body {
    background-color: #f8f9fa;
}

.feedback-container {
    margin-top: 50px;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feedback-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-control {
    margin-bottom: 15px;
}

.submit-btn {
    display: block;
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0056b3;
}

header li a:hover {
    border-radius: 5px;
    background: radial-gradient(#ffff, #fce0ce);
}